.container {
  padding: 0 0rem;
   display: flex;
   flex-direction: column;
   font-family: 'Poppins';
   font-size: 20px;
}

.main {
  min-height: 100vh;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav{
  background: linear-gradient(to right top, aquamarine, rgba(0, 162, 255, 0.623));
}
.hd{
  font-size: 32px;
  min-height: 70vh;
  padding: 20px 40px 20px 20px;
  min-width: 100vw;
  text-align:left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient( to right top, aquamarine, rgba(0, 162, 255, 0.623)) ;
  overflow-y: auto;
  
  background: url("../public/metaverse.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}
.meta{
  margin-top: 40vh;
  color: #eaeaea;
}
.token{
  min-width: 100%;
}

.tkn{
  background: url('../public/TKN.png');
  background-size: fill;
  background-repeat: no-repeat;
  min-height: 55vh;
  min-width: 100%;
}
.community{
  background:  url('../public/telegram.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 70vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.h {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 20px 20px 20px;
  min-width: 100vw;
  z-index: 200;
}
.img{
  width: 22px;
}
.h1{
  font-weight: bolder;
  font-size: 2em;
}
.h11{
  word-spacing: 320px;
  font-weight: bolder;
    font-size: 2em;
}
.pt{
   border-top: 1px solid gray;
}

.table{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.tbody{
  width: 70%;
  border: 4px solid rgba(128, 128, 128, 0.781);
  border-radius: 4px;
  border-bottom: 0;
  text-align: left;
}
.tbody th{
  text-align: left;
  text-align: left;
  color: rgb(22, 21, 21)
}
.tr{
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 10px;
  color: black;
  text-align: left;
  font-size: 23px;
}
.blued{
  background-color: rgba(218, 244, 252, 0.404);
}
.tbody td{
  text-align: left;
}

.road{
width: 100vw;
}
.cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-right: 20px;
}

.white{
  display: flex;
  align-items: center;
}
.footer {
  display: flex;
  flex: 1;
  padding: 0rem 2rem;
  border-top: 1px solid #041872;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.socials{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 40px 10px 10px;
  background-color: #111;
}
.socials .dev{
  color: white;
  padding: 10px 10px 10px 20px
}

.socials .dev n{
  font-family: 'neoneon'
}

.socials .dev m{
  font-family: 'Monoton';
}
.links{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.links p a:hover{
  color: whiteSmoke;
}
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 40%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.socials {
  align-items: flex-end;
}
.socials p a :hover, .socials p a  :focus, .socials p a :active{
  color: whitesmoke;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .logo{
    width: 100px;
    height: 100px;
  }
  .hd{
    min-height: 20vh;
    font-size: 20px;
    background-size: cover;
    background-position: center;
  }
  .meta{
    margin-top: 4vh;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .h{
    display: flex;
    justify-content: space-evenly;
  }
  .h1{
    font-size: 1.3rem;
  }
  .meta b{
    font-size: 1em;
    word-spacing: normal;
  }
    .tkn {
      background: url('../public//TKN.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 20vh;
      min-width: 100%;
    }
        .community {
          background: url('../public/telegram.png');
          background-size: contain;
          background-repeat: no-repeat;
          min-height: 20vh;
          margin-top: 0;
          max-width: 100vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
                .tbody {
                  width: 97%;
                }

              .tr{
                font-size: 14px;
                padding:  10px 10px 10px 10px;
              }
            


                .tkn{
                  min-height: 20vh;
                }
                .cards{
                  flex-direction: column;
                }
                .card{
                  width: 94%;
                  margin: 0.7rem;
                }
                .meta{
                  overflow-y: auto;
                  font-size: 17px;
                }
                .footer{
                  padding: 0 0.7em;
                  font-size: 17px;
                }
                .footer  .logo {
                padding-top: 34px;
                padding-left: 10px;
              }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
