.container {
  padding: 0 0rem;
   display: flex;
   flex-direction: column;
  font-family: 'Prompt', sans-serif;
   font-size: 20px;
   transition: all;
   transition-duration: 3s;
}

.main {
  min-height: 100vh;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav{
    font-family: 'Ubuntu', sans-serif;
  align-items: center;
}

.ul1{
  display: flex;
  margin-right: 20px;
  margin-top: 40px;
}
.ul1 li{
  padding-left: 20px;
  color: black;
}
.ul1 li a{
  color: black;
}
.ul1 li a:hover{
   border-bottom: 4px solid #5e2c2d;
   border-radius: 4px;
}
.hd{
  font-size: 32px;
  min-height: 70vh;
  padding: 20px 40px 20px 20px;
  min-width: 100vw;
  text-align:left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient( to right top, aquamarine, rgba(0, 162, 255, 0.623)) ;
  background: url("../public/vr.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.meta{
  margin-top: 10vh;
  color: #000;
  margin-left: 10%;
}
.token{
  min-width: 100%;
}

.mp{
  font-size: 0.8em;
  width: 53%;
}

.iconz{
  width: 80%;
  margin-bottom: 30vh;
}
.iconz p{
   font-size: 25px;
   width: 33%;
}

.iconz span:hover {
  color: goldenrod;
}
.icon {
  margin-left: 40px;
  align-items: baseline;
}
.tkn {
  background: url('../public/globe2.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 55vh;
  min-width: 100%;
  background-position: left;
}

.round1{
  font-size: 20px;
  border-radius: 50%;
  background: linear-gradient(lightblue, rgb(4, 48, 241));
  height: 40px;
  width: 40px;
  padding: 5px;
}
.arr1 {
  color: rgb(4, 48, 241);
}
.round2 {
  font-size: 20px;
  border-radius: 50%;
  background:linear-gradient( orange, orangered);
  height: 40px;
  width: 40px;
  padding: 5px;
}
.arr2 {
  color: orangered;
}
.round3 {
  font-size: 20px;
  border-radius: 50%;
  background: orange;
  height: 40px;
  width: 40px;
  padding: 5px;
}.arr3 {
  color: yellowgreen;
}
.p1{
  margin-left: -10%;
}
.p2{
  margin-left: 10%;
}
.p3{
  margin-left: 10%;
}
.p1, .p2, .p3 {
    background: rgba(226, 226, 226, 0.1);
    backdrop-filter: blur(2px);
    padding: 2px 2px 0px 2px;
    border-radius: 7px;
}
.tkn div{
  display: flex;
  justify-content: center;
}
.tkn div p{
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 220px;
  padding-left: 5px;
  color: black;
}
.community{
  background:  url('../public/telegram.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 70vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.explan{
  margin-bottom: 40vh;
  background: url('../public/globe2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height: 80vh;
  width: 80%;
}

.info2 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
}
.info2 h1{
  display: flex;
  justify-content: right;
  text-align: left;
  padding-right: 20px;
  font-family: 'Ubuntu';
}

.explanP{
  display: flex;
  justify-content: right;
  font-size: .8em;
}
.buy{
  margin-top: 7vh;
  margin-bottom: 15vh;
  width: 100%;
}
.buy b button{
  background: #8A180A;
  color: white;
  width: 300px;
}
.buy button:hover{
  color: white;
}
.h {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  padding: 20px 20px 20px 20px;
  min-width: 100vw;
  z-index: 200;
  margin-top: 20px;
}
.img{
  width: 22px;
}
.h1{
  font-weight: bolder;
  font-size: 2em;
  font-family: 'Ubuntu';
}
.h11{
  word-spacing: 320px;
  font-weight: bolder;
    font-size: 2em;
    color: black;
    font-family: 'Ubuntu';
}

.table{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.tbody{
  width: 70%;
  border: 4px solid rgba(128, 128, 128, 0.781);
  border-radius: 4px;
  border-bottom: 0;
  text-align: left;
}
.tbody th{
  text-align: left;
  text-align: left;
  color: rgb(22, 21, 21)
}
.tr{
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 10px;
  color: black;
  text-align: left;
  font-size: 23px;
}
.blued{
  background-color: rgba(218, 244, 252, 0.404);
}
.tbody td{
  text-align: left;
}

.road{
width: 100vw;
}
.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 20px;
}

.card p{
  width: 42%;
  font-size: 10px;
}
.card2  {
  display: flex;
 justify-content: right;
 text-align: right;
}
.card4 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.white{
  display: flex;
  align-items: center;
}
.footer {
  display: flex;
  flex: 1;
  padding: 0rem 2rem;
  border-top: 1px solid #041872;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins';
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.socials{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 40px 10px 10px;
  background-color: #111;
}
.socials .dev{
  color: white;
  padding: 10px 10px 10px 20px
}

.socials .dev n{
  font-family: 'neoneon'
}

.socials .dev m{
  font-family: 'Monoton';
}
.links{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.links p a:hover{
  color: whiteSmoke;
}
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}


.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.socials {
  align-items: flex-end;
}
.socials p a :hover, .socials p a  :focus, .socials p a :active{
  color: whitesmoke;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .logo{
    width: 100px;
    height: 100px;
  }
  .ul1 {
    margin-right: 1px;
    justify-content: center;
    align-items: center;
  }
  .ul1 li {
    font-size: 17px;
    padding-left: 7px;
  }
  .hd{
    min-height: 40vh;
    font-size: 20px;
    background-position: center;
    width: 100vw;
  }
  .meta{
    margin-top: 4vh;
    margin-left: 1%;
    width: 90vw;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mp{
    width: 90vw;
    color: black;
    text-shadow: 1px 1px whitesmoke;
    font-size: 1em;
  }
  .mp b{
    text-shadow: none;
  }
  .buy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin-bottom: 2vh;
  }
  .buy b button {
    width: 70vw;
  }
  .iconz{
    width: 80vw;
    margin-bottom: 4vh;
  }
  .iconz p {
    width: 100%;
    font-size: 1.1em;
  }
  .explan{
    width: 90vw;
    min-height: 40vh;
    margin-bottom: 2vh;
  }

  .card p{
    width: 100%;
    font-size: 1em;
  }
  .card2, .card3, .card4 {
    text-align: left;
  }
  .info2 h1{
    padding-right: 1px;
  }
  .h{
    display: flex;
    justify-content: space-evenly;
  }
  .h1{
    font-size: 1.3rem;
  }
  .meta b{
    font-size: 1em;
    word-spacing: normal;
  }
    .tkn {
      background: url('../public/globe2.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 59vh;
      min-width: 100%;
    }
        .community {
          background: url('../public/telegram.png');
          background-size: contain;
          background-repeat: no-repeat;
          min-height: 20vh;
          margin-top: 0;
          max-width: 100vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
                .tbody {
                  width: 97%;
                }

              .tr{
                font-size: 14px;
                padding:  10px 10px 10px 10px;
              }
            


                .tkn{
                  min-height: 20vh;
                }
                .cards{
                  flex-direction: column;
                  font-size: 17px;
                }
                .card{
                  width: 94.9%;
                  margin: 0.7rem;
                  padding: .8em;
                }
                .meta{
                  overflow-y: auto;
                  font-size: 17px;
                }
                .footer{
                  padding: 0 0.4em;
                  font-size: 17px;
                }
                .footer  .logo {
                padding-top: 34px;
                padding-left: 10px;
              }
              .socials{
                padding: 10px 0px 0px 10px;
              }
              .socials .dev {
                      color: white;
                      padding: 10px 10px 10px 7px
                 }
                 .socials .links{
                   width: 100px;
                 }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
